body {
  background-color: #0c0d0e;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* nav */

#navbar {
  background-color: #0c0d0e;
}

#navbar .brand {
  font-weight: 1000;
}

#navbar .baskara {
  color: #ffd71a;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #7e6301;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  content: "";
  opacity: 1;
}

.offcanvas-title {
  font-weight: 500;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(37, 35, 35, 0.15);
    backdrop-filter: blur(5px);
  }
}

/* home */
#home .home-screen .home-detail .gambar {
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  #home .home-screen .home-detail .home-text {
    text-align: center;
    padding-top: 20px;
  }
}

#home .home-screen .home-detail h5 {
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width: 949px) {
  #home .home-screen .home-detail h5 {
    font-size: 1.2rem !important;
  }
}

#home .home-screen .home-detail h2 {
  font-size: 5rem;
  font-weight: 700;
}

@media screen and (max-width: 949px) {
  #home .home-screen .home-detail h2 {
    font-size: 3rem !important;
  }
}

#home .home-screen .home-detail span {
  font-weight: 700;
  font-size: 1.5rem;
}

#home .home-screen .home-detail a {
  color: #ffd71a;
}

#home .home-screen .home-detail .merah {
  height: 100px;
  margin-top: 20px;
}

/* about */
.about-title {
  padding: 30px;
  margin: 0px;
}

.about-title h2 {
  font-weight: 600;
  font-size: 40px;
}

.about-title .text-center {
  font-weight: 300;
  padding-top: 20px;
}

.about-title .heading-line {
  color: #7e6301;
  width: 60%;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-me .detail-col .tombol {
  padding: 0px;
}

#about .tombol {
  height: auto;
  color: white;
}

.btn-keterampilanku {
  background-color: transparent;
  border-radius: 0 !important;
  border: 2px solid #1c1e1f;
  transition: background-color 0.3s, color 0.3s;
}

.btn-keterampilanku:hover {
  background-color: #7e6301;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .detail-col {
    margin-top: 20px;
  }
}
.detail-col h2 {
  font-size: 2rem;
  font-weight: 700;
}

.detail-col h5 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.detail-col p {
  font-size: 0.94rem;
  line-height: 24px;
  margin-top: 20px;
}

/* Skills */
#skills {
  padding-top: 20px;
  padding-bottom: 50px;
}

.skills-title {
  padding-top: 60px;
  padding-bottom: 20px;
}

.skills-title h2 {
  line-height: 40px;
}

.skills-title .heading-line {
  color: #7e6301;
  width: 80%;
}

.skills-card .card {
  border-radius: 0 !important;
  border: none;
  background-color: #1c1e1f;
  border: 1px solid #1c1e1f !important;
}

.skills-card .card:hover {
  border: 1px solid #7e6301 !important;
}

.skills-card .wrap {
  background-color: #161818;
}

.skills-card .icon-wrapper {
  background-color: #ffd71a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.skills-card .icon-wrapper i {
  font-size: 2rem;
  color: #0c0d0e !important;
}

.skills-card .card-title {
  font-weight: 800;
}

.skills-card .list-group-item {
  background-color: #1c1e1f !important;
  color: white;
}
